*{
	box-sizing: border-box;
}
.advent_image{
	padding: 1rem 5.9rem 2rem 6rem;
}

.advent_image:after{
	 content: "";
	 display: table;
	 clear: both;
}
.card {
 float: left;
 width: 25%;
 padding: 0 10px;

}

.container {
	 
	padding: 2px 3px;
	font-size: 12px;
	display: flex;
	justify-content: space-evenly;
}




@media screen and (max-width: 600px){
	  .card{
		  display: inline-table;
		  width: 35%;
		  padding: 5px;
		  margin: 6px 52px;
		 
	  }
}
@media screen and (max-width: 960px) {
	.card {
		display: inline-table;
		width: 15%;
		padding: 0 10px;
		margin: 8px 18px;
		 

	}
}


 